.main {
  --background: #ECE6E6;
  --foreground: #2F2E2E;

  --text-primary: var(--foreground);
  --text-secondary: var(--foreground);

  --button-primary-hover: #383838;
  --button-secondary-hover: #f2f2f2;
  --button-secondary-border: #ebebeb;

  display: flex;
  align-items: center;
  justify-content: center;
}

.header {
  width: 100svw;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  gap: 1rem;

  padding: 4rem 0;
}

.title {
  font-size: 3rem;
  color: var(--text-primary);
}

.subtitle {
  font-size: 18px;
  color: var(--text-secondary);
  font-style: italic;
}
